<div class="container">
  <h1 class="top-title">S'identifier</h1>

<% if params[:param] == "artisan"  %>
    <%= render "artisan" %>
<% else %>
    <%= render "user" %>
<% end %>
  <%= render "devise/shared/links" %>
</div>
