// Specific CSS for your home-page
.banner{
width: 375px;
height: 280px;
}

.category{
text-align: left;

}

.see-all {
text-align: right;
color: #F5A623;

}

.icon-categories {
text-align: center
}



.tab-miniatures {
width: 48px;
height: 48px;
}

.categories {
  padding-top: 30px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.search-home {
  margin-bottom: 60px
}

.carousel-text {
  text-align: center;
  color: #F5A623;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px
}

.caption {
    position: relative;
    bottom: 160px;
    left: 0;
    width: 100%;
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 4px 0 0 #F5A623;
}

.form-control {
  text-align: center;
}




