// Specific CSS for your home-page
.banner{
width: 375px;
height: 335px;
margin-top: 20px
}

.icon-categories {
text-align: center
}

.categories {
  padding-top: 30px;
}

.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.search-home {
  margin-bottom: 60px
}
