<!-- Button trigger modal -->
<button type="button" class="btn btn-light border-0 float-right" style="color: #F5A623; background-color: #ffffff; padding-top: 0px; padding-bottom: 0px" data-toggle="modal" data-target="#exampleModal">
<i class="fas fa-share float-right" style="margin-right: 10px"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Partager sur:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

       <!--  buttons -->

<style type="text/css">
#my_centered_buttons { display: flex; justify-content: center; }
</style>

<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="my_centered_buttons">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>

<script async src="https://static.addtoany.com/menu/page.js"></script>

    <!-- end buttons -->


      </div>
    </div>
  </div>
</div>
