<div class="container">
<h1 class="top-title">Qui sommes-nous?</h1>
<p style="text-align: center; color: #535D7E">L'équipe de ME Makers est une équipe de passionnés. Nous avons souhaité mettre nos compétences aux services des particuliers afin de les aider à trouver l'artisan qualifié leur correspondant.</p>



<h1 class="top-title">Notre équipe</h1>
  <div class="row">
    <div class="col-6" style="text-align: center">
      <img src="https://kitt.lewagon.com/placeholder/users/SGALT" alt="..." class="img-thumbnail" style="max-width:100px">
      <p style="color: #535D7E">Sylvain Galtier</p>
    </div>
    <div class="col-6" style="text-align: center">
      <img src="https://kitt.lewagon.com/placeholder/users/lauradecroix" alt="..." class="img-thumbnail" style="max-width:100px">
      <p style="color: #535D7E">Laura Decroix</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="text-align: center">
      <img src="https://kitt.lewagon.com/placeholder/users/Remysichel" alt="..." class="img-thumbnail" style="max-width:100px">
      <p style="color: #535D7E">Remy Sichel</p>
    </div>
    <div class="col-6" style="text-align: center">
      <img src="https://kitt.lewagon.com/placeholder/users/Jerem33320" alt="..." class="img-thumbnail" style="max-width:100px">
      <p style="color: #535D7E">Jeremy Peyrat</p>
    </div>
  </div>
</div>
