<div class="container">
  <h1 class="top-title">Notre blog</h1>
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item">
      <%= link_to 'Décoration', decoration_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', tips_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Catalogues', catalogues_path, class:"nav-link"%>
    </li>
  </ul>
</div>
