<div class="container">
  <h1 class="top-title">Notre blog</h1>
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item">
      <%= link_to 'Déco', decoration_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', tips_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Catalogues', catalogues_path, class:"nav-link active"%>
    </li>
  </ul>

  <div class="card">

    <img class="card-img-top" src="http://aikea.by/blog/i/2017/09/IKEA-2018.jpg?$p=hi-w386?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">

    <div class="card-body" style="margin-bottom: 20px">
      <h5 class="card-title">Découvrir le catalogue Ikea</h5>
      <p class="card-text">Un catalogue à feuilleter comme un e-book avec des nouveautés, de l'inspiration et des intérieurs reflétant la diversité de nos modes de vie.</p>
      <a href="https://onlinecatalogue.ikea.com/FR/fr/IKEA_Catalogue/?index&_ga=2.157860152.300565018.1543234304-1322900955.1543234304#/" class="btn btn-light btn-block" target="_blank">Lire</a>
    </div>


  <div class="card">
    <img class="card-img-top" src="https://media.conforama.fr/medias/webmaster/catalogues/2018-conforama_fr-0035-noel_xAWsn474/pages/page-1.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
    <div class="card-body" style="margin-bottom: 20px">
      <h5 class="card-title">Découvrir le catalogue Conforama</h5>
      <p class="card-text">Un catalogue à feuilleter comme un e-book avec des nouveautés, de l'inspiration et des intérieurs reflétant la diversité de nos modes de vie.</p>
      <a href="https://media.conforama.fr/medias/webmaster/catalogues/2018-conforama_fr-0035-noel_xAWsn474/" class="btn btn-light btn-block" target="_blank">Lire</a>
    </div>


</div>
