<div class="container">
  <h1 class="top-title">Notre blog</h1>
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item">
      <%= link_to 'Déco', decoration_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', tips_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Catalogues', catalogues_path, class:"nav-link active"%>
    </li>
  </ul>

  <div class="card">
    <img class="card-img-top" src="https://fac.img.pmdstatic.net/fit/http.3A.2F.2Fprd2-bone-image.2Es3-website-eu-west-1.2Eamazonaws.2Ecom.2FFAC.2Fvar.2Ffemmeactuelle.2Fstorage.2Fimages.2Fdeco.2Ftendance-deco.2Fcatalogue-ikea-2018-42008.2F14644564-1-fre-FR.2Fcatalogue-ikea-2018-les-premieres-nouveautes.2Ejpg/748x372/quality/90/crop-from/center/catalogue-ikea-2018-les-premieres-nouveautes.jpeg'?auto=compress&cs=tinysrgb&dpr=2&h=350?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
    <div class="card-body" style="margin-bottom: 20px">
      <h5 class="card-title">Découvrir le catalogue Ikea</h5>
      <p class="card-text">Un catalogue à feuilleter comme un e-book avec des nouveautés, de l'inspiration et des intérieurs reflétant la diversité de nos modes de vie.</p>
      <a href="https://onlinecatalogue.ikea.com/FR/fr/IKEA_Catalogue/?_ga=2.235112579.300565018.1543234304-1322900955.1543234304#/" class="btn btn-light btn-block">Lire</a>
    </div>

</div>
