<div class="container">
  <h1 class="top-title"> Contactez-nous</h1>
<p style="text-align: center; color: #535D7E">Pour toute demande d'informations, n'hésitez pas à nous contacter, nous serons ravis de répondre à vos différentes questions et attentes.</p>



<!------ Include the above in your HEAD tag ---------->

<div class="container contact-form">
            <div class="contact-image" style="text-align: center">
                <img src="http://vf.dsspro.in/images/contact-us.png" style="max-width: 300px; margin-bottom: 20px"/>
            </div>
            <form method="post">
               <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Votre nom *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Votre email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your téléphone *" value="" />
                        </div>

                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Votre message *" style="width: 100%; height: 100px;"></textarea>
                        </div>

                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact btn-danger btn-block" value="Envoyer votre message" />
                        </div>
                    </div>

                </div>
            </form>
</div>

</div>
