<div class="container">
  <h1 class="top-title">Notre blog</h1>
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item">
      <%= link_to 'Déco', decoration_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', tips_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Catalogues', catalogues_path, class:"nav-link"%>
    </li>
  </ul>

<div class="card">
  <img class="card-img-top" src="https://s2.lmcdn.fr/multimedia/311501376946/2eea25aba626e/1500x1123-coach-deco.jpg?auto=compress&cs=tinysrgb&dpr=2&h=350?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body" style="margin-bottom: 20px">
    <h5 class="card-title" style="color: #535D7E">Réussir mon projet déco</h5>
    <p class="card-text" style="color: #535D7E">Découvrez les tendances faites pour vous et les astuces de décorateurs pour valoriser au mieux votre pièce. Rapide et facile, la déco de magazine est enfin chez vous !</p>
    <a href="https://www.leroymerlin.fr/v3/p/tous-les-contenus/reussir-mon-projet-deco-l1501373742" target="_blank" class="btn btn-light btn-block">Lire</a>
  </div>

    <img class="card-img-top" src="https://s2.lmcdn.fr/multimedia/281501702399/2d30a5baddce5/comment-choisir-un-tapis-de-decoration/matiere-tapis-de-decoration.jpg?$p=hi-w386?auto=compress&cs=tinysrgb&dpr=2&h=350?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body" style="margin-bottom: 20px">
    <h5 class="card-title" style="color: #535D7E">Comment choisir un tapis de décoration ?</h5>
    <p class="card-text" style="color: #535D7E">Le tapis est un élément important de la décoration. En général, le tapis est choisi en fonction de sa couleur ou de ses motifs, mais d’autres critères sont à prendre en compte : matière, dimensions, forme...</p>
    <a href="https://www.leroymerlin.fr/v3/p/tous-les-contenus/comment-choisir-un-tapis-de-decoration-l1501702720" class="btn btn-light btn-block" target="_blank">Lire</a>
  </div>

<div class="card">
  <img class="card-img-top" src="https://images.pexels.com/photos/1005058/pexels-photo-1005058.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body" style="margin-bottom: 20px">
    <h5 class="card-title" style="color: #535D7E">Dernières tendances déco</h5>
    <p class="card-text" style="color: #535D7E">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" target="_blank" class="btn btn-light btn-block">Lire</a>
  </div>

<div class="card">
  <img class="card-img-top" src="https://images.pexels.com/photos/544112/pexels-photo-544112.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=350?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body" style="margin-bottom: 20px">
    <h5 class="card-title" style="color: #535D7E">Le blanc revient à la mode</h5>
    <p class="card-text" style="color: #535D7E">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" target="_blank" class="btn btn-light btn-block">Lire</a>
  </div>












</div>
