<div class="container">
  <h1 class="top-title">Notre blog</h1>
    <ul class="nav nav-tabs" style="margin-bottom: 20px">
    <li class="nav-item">
      <%= link_to 'Déco', decoration_path, class:"nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Tips', tips_path, class:"nav-link active"%>
    </li>
    <li class="nav-item">
      <%= link_to 'Catalogues', catalogues_path, class:"nav-link"%>
    </li>
  </ul>

 <div class="card" style="">
  <img class="card-img-top" src="https://s2.lmcdn.fr/multimedia/7e1501658805/29f075b7a8679/comment-choisir-son-radiateur-electrique/photo-introduction.jpg?$p=hi-w386?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: #535D7E">Comment choisir son radiateur électrique ?</h5>
    <p class="card-text" style="color: #535D7E">Longtemps considéré comme énergivore, le radiateur électrique a bien évolué pour proposer aujourd'hui des solutions adaptées à tous les modes de vie.</p>
    <a href="https://www.leroymerlin.fr/v3/p/tous-les-contenus/comment-choisir-son-radiateur-electrique-l1501658806" class="btn btn-light btn-block">Lire</a>
  </div>

    <div class="card" style="">
  <img class="card-img-top" src="https://s2.lmcdn.fr/multimedia/1f1400905689/1c81954bd1eea/comment-choisir-sa-cheminee/bien-choisir-cheminee-intro.jpg?$p=hi-w386?$p=hi-w386?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: #535D7E">Comment choisir sa cheminée ?</h5>
    <p class="card-text" style="color: #535D7E">Les cheminées prêtes à poser ressemblent à des cheminées classiques mais leur pose est nettement plus simple. Contre un mur ou au milieu d'une pièce, avec ou sans hotte, encastrées ou autonomes, voici deux familles d'appareils tout en un très pratiques.</p>
    <a href="https://www.leroymerlin.fr/v3/p/tous-les-contenus/comment-choisir-sa-cheminee-l1308220637" class="btn btn-light btn-block">Lire</a>
  </div>


<div class="card" style="">
  <img class="card-img-top" src="https://images.pexels.com/photos/128639/pexels-photo-128639.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: #535D7E">La tendance hiver : le bois brut</h5>
    <p class="card-text" style="color: #535D7E">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-light btn-block">Lire</a>
  </div>

  <div class="card" style="">
  <img class="card-img-top" src="https://images.pexels.com/photos/276514/pexels-photo-276514.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940/100px180/" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title" style="color: #535D7E">La brique apparante</h5>
    <p class="card-text" style="color: #535D7E">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-light btn-block">Lire</a>
  </div>



</div>
