<div class="container">
  <h1 class="top-title">Tous mes projets</h1>

    <div style="text-align: center; margin-bottom: 30px">
      <img src="https://pngimage.net/wp-content/uploads/2018/06/homes-png.png" style="max-height: 200px; max-width: -webkit-fill-available">
  </div>

  <% @projects.each do |project| %>
    <div class="card" style="margin-bottom: 30px">
      <div class="card-body" style="color: #545d7e; text-shadow:none">
        <div class="row">
          <div class="col-4">
            <img src="https://kitt.lewagon.com/placeholder/users/random" alt="..." class="rounded float-left" style="height: 100px; width: 100px">
          </div>
          <div class="col-8">
            <h5 class="card-title"><%= link_to project.title, project_path(project) %></h5>
              <p><%= project.description %></p>
            <p class="card-text" style="font-size: 10px"><%= project.date %></p>
            <i class="fas fa-trash float-right"></i>
            <i class="fas fa-edit float-right" style="margin-right: 10px"></i>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= link_to "Retour", root_path, class: 'btn btn-light btn-block' %>
</div>






