<h1>PROJECT SHOW</h1>
<%= link_to "Retour", projects_path, class: 'btn btn-light' %>
<%= link_to "Devis", prestation_path, class: 'btn btn-light' %>
<%= link_to "Messages", prestation_path, class: 'btn btn-light' %>
