.prestation-card-actions {
  .booked {
    color: green;
    margin-right: 10px;
  };
  .declined {
    color: red;
    margin-right: 10px;
  };
  .pending {
    color: blue;
    margin-right: 10px;
  }
}
