.top-title {
  font-size: 30px;
  color: #535D7E;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}


.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: #F5A623;
    }

a.nav-link {
  color: #545c7f;
}
